<!DOCTYPE html>
<html><head>
    <title>View Students</title>
    <style>
        body {
            font-family: Arial;
            background: #f4f4f4;
        }
        table  {
            width: 80%;
            margin: 50px auto;
            border-collapse: collapse;
            background: white;
        }
        th, td {
            padding: 12px;
            border: 1px solid #ddd;
            text-align: center;
        }
        th {
            background: darkblue;
            color: white;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Student List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Roll</th>
            <th>Course</th>
            <th>Email</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.roll }}</td>     
            <td>{{ student.course }}</td>
            <td>{{ student.email }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>